{% extends "site.html" %}
{% block title %}Shadytel Telephony Enrollment &amp; Activation Kit: Directory{% endblock title %}
{% block headline %}Shadytel Telephony Enrollment &amp; Activation Kit{% endblock headline %}

{% block body %}
<h3>Directory</h3>
<table border="1">
  <tr>
    <th>Extension</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  {% for e in extensions %}
    <tr>
      <td><a href="tel:{{e["extn"]}}">{{e["extn"]}}</a></td>
      <td>
        {{e["name"]}}
      </td>
      <td>
      </td>
    </tr>
  {% endfor %}
  </table>
{% endif %}

{% endblock body %}
